.header{
    background-color: #003580;
    color:white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    /* background-color: green; */
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    /* background-color: green; */
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px  0px 0px;
}

.headerlist{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    align-items: center;
    /* justify-content: center; */
}

.headerlistitems{
    display: flex;     
    gap:10px;     

}

.headerlistitems.active{
  border:1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDescription{
    margin: 20px 0px;
}

.headerButton{
    background-color: #0071c2;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding:10px
}

.headerSearch{
   height: 30px; 
   background-color: white;
   border: 3px solid #febb02;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 10px 0px;
   border-radius: 5px;
   position:absolute;
   bottom:-28px ;
   width: 100%;
   max-width: 1024px;

}

.headerIcon{
    color: darkgrey;
}

.headerSearchItems{
    color: darkgrey;
    display: flex;
    align-items: center;
    gap: 10px;

}
.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
   color: darkgray;
   cursor: pointer; 
   /* background-color: #003580; */
   }

.date{
    position: absolute;
    top:50px;
}

.options{
    position: absolute;
    top:50px;
    background-color: rgb(255, 255, 255);
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,4);
    box-shadow:0px 0px 10px -5px rgba(0,0,0,4);
       
}

.optionItem{
    width: 200px;
    display:flex;
    justify-content: space-between;
    margin: 10px;
     
}

.optionCounter{
 display: flex;
 align-items: center;
 gap: 10px; 
 font-size: 12px;
 color: black;
 /* background-color: #003580; */
}

.optionCounterButton{
  width: 30px;
  height: 30px;
  border:1px solid #0071c2;
  color: #0071c2;  
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}
/* 33:10 */